<section class="width-100 height-100 d-flex align-items-center justify-content-center bg-white">
  <div class="content radius-8 overflow-hidden d-flex align-items-center">
    <div class="login-content">
      <h3 class="color-black m-0">Log in</h3>
      <h4 class="color-orange m-0">Hello There,</h4>
      <span class="color-orange m-0 d-flex align-items-center justify-content-flex-start gap-10">Welcome Back To <p
          class="color-black m-0">E-Fertile</p></span>


      <div class="userInputs mt-10">
        <h5 class="color-black">Email</h5>
        <ion-input placeholder="Enter Email" class="color-black" [(ngModel)]="loginData.Email"></ion-input>
        <h5 class="color-black mt-10">Password</h5>
        <ion-input type="password" placeholder="Enter Password" class="color-black"
          [(ngModel)]="loginData.password"></ion-input>

      </div>
      <div class="width-100 d-flex align-items-center justify-content-center mt-20">
        <button class="login_button color-white d-flex align-items-center justify-content-center"
          (click)="doLogin()">Login <img src="../../assets/login-arrow.svg" alt=""></button>
      </div>

    </div>
  </div>
</section>