<ion-app>

  <!-- Left Sidebar Menu -->
  <div
  class="leftSideMenu width-50px min-height-100vh bg-orange d-flex align-items-center justify-content-center flex-direction-column gap-20"
  *ngIf="leftSide">
  <div class="logo mt-10">
    <img src="../assets/menu/Logo.svg" alt="Logo">
  </div>
  <div
    class="Menus width-100 height-100 d-flex align-items-center justify-content-flex-start flex-direction-column gap-20">
    <div class="width-100 height-40px d-flex align-items-center justify-content-center"
      *ngFor="let item of menuItems">
      <img [id]="'menu-' + item.id" [src]="item.src" [alt]="item.alt" class="pointer">
    </div>
  </div>
</div>

<!-- Main Content -->
<ion-router-outlet class="bg-white" id="mainMenu" (click)="menu.close()" [class.isleftSideOpen]="leftSide==true">
  <ion-header [translucent]="true" class="box-shaddow-none height-50px z-index-1000 overflow-hidden"
    *ngIf="topHeader">
    <ion-toolbar class="--bg-white position-relative">
      <ion-title>
        <img src="../assets/menu/LOGO ELUDE.svg" alt="Logo Elude" class="width-100px webLogo">
        <img src="../assets/menu/LOGO ELUDE_white.svg" alt="Logo Elude" class="width-100px mobileLogo">
        <i class="bi bi-list color-white position-absolute right-20 font-23 pointer menuIcon"
          (click)="menu.open('first');menus()"></i>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-router-outlet>
</ion-app>
<!-- Mobile Menu -->
<ion-menu [swipeGesture]="false" contentId="mainMenu" side="start" menuId="first" class="mobileMenu">
<ion-header class="min-height-40px bg-white">
  <ion-toolbar>
    <ion-title>
      <img src="../assets/menu/LOGO ELUDE_white.svg" alt="Logo Elude" class="width-100px">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="--bg-white">
  <ion-list class="list --bg-white allMenus">

    <ion-item class="options --bg-white width-100 pointer" (click)="selectedMenu('home', 1)"
      *ngFor="let item of menuItems">
      <!-- <img [id]="'menu-' + item.id" [src]="item.src" [alt]="item.alt" class="pointer"> -->
      <div class="item-content">
        <i class="bi bi-house color-black"></i>
        <span class="item-label color-black">{{item.alt}}</span>
      </div>
    </ion-item>


  </ion-list>
</ion-content>
</ion-menu>

<div
class="width-100 height-100 position-fixed top-0 left-0 z-index-10 bg-white d-flex align-items-center justify-content-center"
*ngIf="loader">
<span class="loader"></span>

</div>