<section>
  <div class="heading">
      <h6>Bill Generation</h6>
      <button>Take Away</button>
  </div>
<div class="grid">
  <div class="leftside">
       <h3>Menu Items</h3>
       <h5>Beverages</h5>

       <div class="list">
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
       </div>
       <h5>Starters</h5>
       <div class="list">
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
       </div>
       <h5>Main Course</h5>
       <div class="list">
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
       </div>

       <div class="bottom">
          <div class="vegetarigan">
              <img src="../../assets/account/radio_button_checked red.png">
              <h5>Vegetarian</h5>
          </div>
          <div class="vegetarigan">
              <div class="vegetarigan">
                  <img src="../../assets/account/radio_button_checked.png">
                  <h5>Non-Vegetarian </h5>
              </div>
          </div>
          <div class="vegetarigan">
              <div class="vegetarigan">
                  <img src="../../assets/account/radio_button_checked blue.png">
                  <h5>Contain Egg </h5>
              </div>
          </div>
          </div>
  </div>

<div class="centerside">
  <div class="top">
        <h5>Select Table</h5>
        <div
        class="searchSection width-auto d-flex align-items-center justify-content-center gap-10"
      >
        <div
          class="searchSection-In d-flex align-items-center justify-content-flex-start"
        >
          <ion-input placeholder="Search By Item Name" [(ngModel)]="searchText">
          </ion-input>
          <i class="bi bi-search color-black pointer font-10"></i>
        </div>
        <div
          class="searchSection-In d-flex align-items-center justify-content-flex-start"
        >
          <ion-input placeholder="Short Code"> </ion-input>
          <i class="bi bi-search color-black pointer font-10"></i>
        </div>
      </div>

      <div class="tableTotal">
        
        <h6>Please select the table from the table list </h6>
        <div class="total">
          <h3>Item Total</h3>
        </div>
      </div>

      <div class="Details">
        <div class="Entry">
          <h5>Location</h5>
          <h5></h5>
        </div>
        
        <div class="Entry">
          <h5>Ambience :</h5>
          <h5></h5>
        </div>

        <div class="Entry">
          <h5>Waiter :</h5>
          <h5></h5>
        </div>

      </div>
     
  </div>
  <div class="bottom">

  </div>
</div>

<div class="rightside">
  <div class="Tablelist">

  </div>
</div>
</div>
   
</section>