<section>
  <div class="heading">
      <h6>Bill Generation</h6>
      <button>Take Away</button>
  </div>
<div class="grid">
  <div class="leftside">
       <h3>Menu Items</h3>
       <h5>Beverages</h5>

       <div class="list">
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
       </div>
       <h5>Starters</h5>
       <div class="list">
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
       </div>
       <h5>Main Course</h5>
       <div class="list">
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
          <button>Lassi</button>
       </div>

       <div class="bottom">
          <div class="vegetarigan">
              <img src="../../assets/account/radio_button_checked red.png">
              <h5>Vegetarian</h5>
          </div>
          <div class="vegetarigan">
              <div class="vegetarigan">
                  <img src="../../assets/account/radio_button_checked.png">
                  <h5>Non-Vegetarian </h5>
              </div>
          </div>
          <div class="vegetarigan">
              <div class="vegetarigan">
                  <img src="../../assets/account/radio_button_checked blue.png">
                  <h5>Contain Egg </h5>
              </div>
          </div>
          </div>
  </div>

<div class="centerside">
  <div class="top">
    <div class="Tableheading">
      <h5>Select Table-</h5>
      <h5>A1</h5>
    </div>
     
        <div
        class="searchSection width-auto d-flex align-items-center justify-content-center gap-10"
      >
        <div
          class="searchSection-In d-flex align-items-center justify-content-flex-start"
        >
          <ion-input placeholder="Search By Item Name" [(ngModel)]="searchText">
          </ion-input>
          <i class="bi bi-search color-black pointer font-10"></i>
        </div>
        <div
          class="searchSection-In d-flex align-items-center justify-content-flex-start"
        >
          <ion-input placeholder="Search By Item Code"> </ion-input>
          <i class="bi bi-search color-black pointer font-10"></i>
        </div>
      </div>
      <div class="tableData">
        <table class="items-table mt-10">
          <thead>
            <tr>
              <th>Code</th>
              <th>Item name</th>
              <th>Qty</th>
              <th>Rate</th>
              <th class="bg-dark-table">Amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- Bind using *ngFor to loop through stockItems array -->
            <tr *ngFor="let item of stockItems">
              <td>{{item?.code}}</td>
              <td>{{item?.itemName}}</td>
              <td>{{item?.qty | number: '2.0-0'}}</td> <!-- Qty formatted as whole number -->
              <td>{{item?.rate | number: '1.2-2'}}</td> <!-- Rate formatted to 2 decimal places -->
              <td>{{item?.amount | number: '1.2-2'}}</td> <!-- Amount formatted to 2 decimal places -->
              <td><i class="bi bi-x-lg"></i></td> <!-- Delete icon -->
            </tr>
          </tbody>
        </table>
      </div>
      
       
     

      <!-- <h6>Please select the table from the table list </h6> -->
      <div class="tableTotal">
        <div class="total">
          <h3>Item Total</h3>
          <h3>1220.00</h3>
        </div>
      </div>

      <div class="Details">
        <div class="Entry">
          <h5>Location</h5>
          <h5></h5>
        </div>
        
        <div class="Entry">
          <h5>Ambience :</h5>
          <h5></h5>
        </div>

        <div class="Entry">
          <h5>Waiter :</h5>
          <h5></h5>
        </div>

      </div>
     
  </div>
  <div class="bottom">
 <h4>Today's Sale</h4>
  <div class="orderlist">
     <h5>Food</h5>
     <h5>3547.00</h5>
  </div>
  <div class="orderlist">
    <h5>Others</h5>
    <h5>11000.00</h5>
 </div>
 
 <div class="dotLine"></div>
 <div class="orderlist">
  <h5>Total Sale - </h5>
  <h5>14000.00</h5>
</div>
  </div>
</div>

<div class="rightside">
  <div class="Tablelist">
<h5>Table list</h5>
<div class="type">
  <h5>AC</h5>
</div>
<div class="TableName">
  <div class="elipse">
    <h2>A1</h2>
  </div>
  <div class="elipse">
    <h2>A2</h2>
  </div>
  <div class="elipse">
    <h2>A3</h2>
  </div>
  <div class="elipse">
    <h2>A4</h2>
  </div>
  <div class="elipse">
    <h2>A5</h2>
  </div>
  

</div>

<!--  -->
<div class="type">
  <h5>Gender</h5>
</div>
<div class="TableName">
  <div class="elipse">
    <h2>G1</h2>
  </div>
  <div class="elipse">
    <h2>G2</h2>
  </div>
  <div class="elipse">
    <h2>G3</h2>
  </div>
  <div class="elipse">
    <h2>G4</h2>
  </div>
  <div class="elipse">
    <h2>G5</h2>
  </div>
  

</div>
<!--  -->
<div class="type">
  <h5>Room Service</h5>
</div>
<div class="TableName">
  <div class="elipse">
    <h2>R1</h2>
  </div>
  <div class="elipse">
    <h2>R2</h2>
  </div>
  <div class="elipse">
    <h2>R3</h2>
  </div>
  <div class="elipse">
    <h2>R4</h2>
  </div>
  <div class="elipse">
    <h2>R5</h2>
  </div>
</div>



<div class="rectangleLine">
  <div class="status">
    <div class="serviceStatus">
      <img src="../../assets/account/radio_button_checked red.png">
      <h4>Occupied</h4>
    </div>
    <div class="serviceStatus">
      <img src="../../assets/account/radio_button_checked.png">
      <h4>Available </h4>
    </div>
  </div>
</div>
<div class="buttons">
  <div class="btn">
    <button>preview kot</button>
    <button>preview bill</button>
    <button>shift table</button>
  </div>
  <div class="btn">
    <button style="background: #4A575D;">settle</button>
  </div>
</div>



  </div>
</div>
</div>
   
</section>